
/*Background image inject*/
.lobby-bg { 
	background-image: url("https://s3.amazonaws.com/thehacktivist.kevintame.com/img/JnetBackground.png")!important;

	/*jinteki.net had a default opacity on the background image so I removed that to make the image pop*/
	opacity: 1.0 !important;
}

/*Remove this is you don't wnat to adjust the font size*/

.gameboard .stats > div {
    font-size: 16px !important;
}

.gameboard .rightpane .log > .panel {
    font-size: 14px !important;
    line-height: 25px !important;
}